<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>controller.station.UpdateProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetProfilePage</servlet-name>
        <url-pattern>/thong-tin-ca-nhan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/cap-nhat-thong-tin</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>dashboard/auth/login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStationHomePage</servlet-name>
        <servlet-class>controller.station.GetStationHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAppointmentPage</servlet-name>
        <servlet-class>controller.station.GetAppointmentPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReportPage</servlet-name>
        <servlet-class>controller.station.GetReportPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProfilePage</servlet-name>
        <servlet-class>controller.station.GetProfilePage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/dang-nhap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/dang-ky</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/dang-xuat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStationHomePage</servlet-name>
        <url-pattern>/trung-tam-dang-kiem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAppointmentPage</servlet-name>
        <url-pattern>/quan-ly-lich-hen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReportPage</servlet-name>
        <url-pattern>/bao-cao-kiem-dinh</url-pattern>
    </servlet-mapping>
</web-app>
