<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>controller.station.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quanLyPhuongTien</servlet-name>
        <servlet-class>controller.vehicleController.quanLyPhuongTien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Successfully</servlet-name>
        <servlet-class>submit.Successfully</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Failed</servlet-name>
        <servlet-class>submit.Failed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chinhSuaPT</servlet-name>
        <servlet-class>controller.vehicleController.chinhSuaPT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lichSuKD</servlet-name>
        <servlet-class>controller.vehicleController.lichSuKD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckVehicle</servlet-name>
        <servlet-class>notifications.CheckVehicle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetProfilePage</servlet-name>
        <url-pattern>/thong-tin-ca-nhan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/cap-nhat-thong-tin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quanLyPhuongTien</servlet-name>
        <url-pattern>/quan-ly-phuong-tien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Successfully</servlet-name>
        <url-pattern>/thanh-cong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Failed</servlet-name>
        <url-pattern>/that-bai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chinhSuaPT</servlet-name>
        <url-pattern>/chinh-sua-phuong-tien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lichSuKD</servlet-name>
        <url-pattern>/lich-su</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckVehicle</servlet-name>
        <url-pattern>/kiem-tra-tai-khoan</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>dashboard/auth/login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStationHomePage</servlet-name>
        <servlet-class>controller.station.GetStationHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOwnerHomePage</servlet-name>
        <servlet-class>controller.ownerController.GetOwnerHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAppointmentPage</servlet-name>
        <servlet-class>controller.station.GetAppointmentPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReportPage</servlet-name>
        <servlet-class>controller.station.GetReportPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dangKyKD</servlet-name>
        <servlet-class>controller.vehicleController.dangKyKD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xoaPT</servlet-name>
        <servlet-class>controller.vehicleController.xoaPT</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>xoaPT</servlet-name>
        <url-pattern>/xoa-phuong-tien</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dangKyPT</servlet-name>
        <servlet-class>controller.vehicleController.dangKyPT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProfilePage</servlet-name>
        <servlet-class>controller.station.GetProfilePage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/dang-nhap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/dang-ky</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/dang-xuat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStationHomePage</servlet-name>
        <url-pattern>/trung-tam-dang-kiem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOwnerHomePage</servlet-name>
        <url-pattern>/chu-phuong-tien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAppointmentPage</servlet-name>
        <url-pattern>/quan-ly-lich-hen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReportPage</servlet-name>
        <url-pattern>/bao-cao-kiem-dinh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dangKyKD</servlet-name>
        <url-pattern>/dang-ky-kiem-dinh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dangKyPT</servlet-name>
        <url-pattern>/dang-ky-phuong-tien</url-pattern>
    </servlet-mapping>
</web-app>
