<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>AuthenAndAuthoFilter</filter-name>
        <filter-class>controller.filter.AuthenAndAuthoFilter</filter-class>
    </filter>
    <filter>
        <filter-name>JSPBlockFilter</filter-name>
        <filter-class>controller.filter.JSPBlockFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>JSPBlockFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenAndAuthoFilter</filter-name>
        <url-pattern>/quan-tri-vien</url-pattern>
        <url-pattern>/StationServlet</url-pattern>
        <url-pattern>/danh-sach-nhan-vien-kiem-dinh</url-pattern>
        <url-pattern>/chi-tiet-trung-tam-dang-kiem</url-pattern>
        <url-pattern>/he-thong-logs</url-pattern>
        <url-pattern>/chi-tiet-chu-phuong-tien</url-pattern>
        <url-pattern>/lay-lai-mat-khau</url-pattern>
        <url-pattern>/quan-ly-lich-hen</url-pattern>
        <url-pattern>/thong-tin-ca-nhan</url-pattern>
        <url-pattern>/bao-cao-kiem-dinh</url-pattern>
        <url-pattern>/trung-tam-dang-kiem</url-pattern>
        <url-pattern>/xac-thuc-don-kiem-dinh</url-pattern>
        <url-pattern>/chu-phuong-tien</url-pattern>
        <url-pattern>/ho-so-ca-nhan-1</url-pattern>
        <url-pattern>/kiem-tra-tai-khoan</url-pattern>
        <url-pattern>/that-bai</url-pattern>
        <url-pattern>/thanh-cong</url-pattern>
        <url-pattern>/update-profile</url-pattern>
        <url-pattern>/chinh-sua-phuong-tien</url-pattern>
        <url-pattern>/dang-ky-kiem-dinh</url-pattern>
        <url-pattern>/dang-ky-phuong-tien</url-pattern>
        <url-pattern>/lich-su</url-pattern>
        <url-pattern>/quan-ly-phuong-tien</url-pattern>
        <url-pattern>/timKiemPT1</url-pattern>
        <url-pattern>/xoa-phuong-tien</url-pattern>
        <url-pattern>/DeleteAccountServlet</url-pattern>
        <url-pattern>/lich-su-trang-chu</url-pattern>
        <url-pattern>/nguoi-kiem-dinh</url-pattern>
        <url-pattern>/thong-tin-nguoi-kiem-dinh</url-pattern>
        <url-pattern>/tao-moi-trung-tam-kiem-dinh</url-pattern>
        <url-pattern>/cap-nhat-inspector</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>controller.station.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmission</servlet-name>
        <servlet-class>controller.inspectController.UpdateEmission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>controller.inspectController.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveInspectionServlet</servlet-name>
        <servlet-class>controller.inspectController.SaveInspectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quanLyPhuongTien</servlet-name>
        <servlet-class>controller.vehicleController.quanLyPhuongTien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Successfully</servlet-name>
        <servlet-class>controller.vehicleController.Successfully</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Failed</servlet-name>
        <servlet-class>controller.vehicleController.Failed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chinhSuaPT</servlet-name>
        <servlet-class>controller.vehicleController.chinhSuaPT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lichSuKD</servlet-name>
        <servlet-class>controller.vehicleController.lichSuKD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckVehicle</servlet-name>
        <servlet-class>controller.vehicleController.CheckVehicle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDashboardPage</servlet-name>
        <servlet-class>controller.admin.GetDashboardPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdminServlet</servlet-name>
        <servlet-class>controller.LoginAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPoliceHomePage</servlet-name>
        <servlet-class>controller.policeController.GetPoliceHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetHistoryHomePage</servlet-name>
        <servlet-class>controller.ownerController.GetHistoryHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileOwner</servlet-name>
        <servlet-class>controller.vehicleController.UpdateProfileOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetVehicleOwner</servlet-name>
        <servlet-class>controller.admin.GetVehicleOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetInspectionStation</servlet-name>
        <servlet-class>controller.admin.GetInspectionStation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginOauth2WithGoogle</servlet-name>
        <servlet-class>controller.LoginOauth2WithGoogle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Get500Page</servlet-name>
        <servlet-class>controller.Get500Page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Get401Page</servlet-name>
        <servlet-class>controller.Get401Page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Get404Page</servlet-name>
        <servlet-class>controller.Get404Page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetChooseRolePage</servlet-name>
        <servlet-class>controller.GetChooseRolePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProfileOwnerPage</servlet-name>
        <servlet-class>controller.ownerController.GetProfileOwnerPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetInspectors</servlet-name>
        <servlet-class>controller.admin.GetInspectors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>controller.admin.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetHistoryPage</servlet-name>
        <servlet-class>controller.inspectController.GetHistoryPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessInspectionRecord</servlet-name>
        <servlet-class>controller.station.ProcessInspectionRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLogSystemPage</servlet-name>
        <servlet-class>controller.admin.GetLogSystemPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordPage</servlet-name>
        <servlet-class>controller.ResetPasswordPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessResetPassword</servlet-name>
        <servlet-class>controller.ProcessResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetErrorRequestPassPage</servlet-name>
        <servlet-class>controller.GetErrorRequestPassPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFullVehicleByUserID</servlet-name>
        <servlet-class>controller.admin.GetFullVehicleByUserID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateVehicles</servlet-name>
        <servlet-class>controller.vehicleController.updateVehicles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetVehilceInPoliceHomePage</servlet-name>
        <servlet-class>controller.policeController.GetVehilceInPoliceHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoliceDao</servlet-name>
        <servlet-class>dao.PoliceDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Police</servlet-name>
        <servlet-class>model.Police</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProfileHomePage</servlet-name>
        <servlet-class>controller.policeController.GetProfileHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetViolatingVehicle</servlet-name>
        <servlet-class>controller.policeController.GetViolatingVehicle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNotificationPolice</servlet-name>
        <servlet-class>controller.policeController.GetNotificationPolice</servlet-class>
    </servlet>
    <servlet>    
        <servlet-name>StationServlet</servlet-name>
        <servlet-class>controller.station.StationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAndDeleteInspector</servlet-name>
        <servlet-class>controller.admin.UpdateAndDeleteInspector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewStation</servlet-name>
        <servlet-class>controller.admin.CreateNewStation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetProfilePage</servlet-name>
        <url-pattern>/thong-tin-ca-nhan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProfileOwnerPage</servlet-name>
        <url-pattern>/ho-so-ca-nhan-1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/cap-nhat-thong-tin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmission</servlet-name>
        <url-pattern>/UpdateEmission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveInspectionServlet</servlet-name>
        <url-pattern>/SaveInspectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quanLyPhuongTien</servlet-name>
        <url-pattern>/quan-ly-phuong-tien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Successfully</servlet-name>
        <url-pattern>/thanh-cong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Failed</servlet-name>
        <url-pattern>/that-bai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chinhSuaPT</servlet-name>
        <url-pattern>/chinh-sua-phuong-tien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lichSuKD</servlet-name>
        <url-pattern>/lich-su</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckVehicle</servlet-name>
        <url-pattern>/kiem-tra-tai-khoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDashboardPage</servlet-name>
        <url-pattern>/quan-tri-vien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdminServlet</servlet-name>
        <url-pattern>/21.04.2000</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPoliceHomePage</servlet-name>
        <url-pattern>/trung-tam-canh-sat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetHistoryHomePage</servlet-name>
        <url-pattern>/lich-su-trang-chu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileOwner</servlet-name>
        <url-pattern>/update-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetVehicleOwner</servlet-name>
        <url-pattern>/chi-tiet-chu-phuong-tien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetInspectionStation</servlet-name>
        <url-pattern>/chi-tiet-trung-tam-dang-kiem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginOauth2WithGoogle</servlet-name>
        <url-pattern>/dang-nhap/oauth2/google</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Get500Page</servlet-name>
        <url-pattern>/500error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Get401Page</servlet-name>
        <url-pattern>/401error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Get404Page</servlet-name>
        <url-pattern>/404error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetChooseRolePage</servlet-name>
        <url-pattern>/chon-vai-tro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetInspectors</servlet-name>
        <url-pattern>/danh-sach-nhan-vien-kiem-dinh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/lay-lai-mat-khau</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetHistoryPage</servlet-name>
        <url-pattern>/lich-su-kiem-dinh-cong-nhan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessInspectionRecord</servlet-name>
        <url-pattern>/xac-thuc-don-kiem-dinh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLogSystemPage</servlet-name>
        <url-pattern>/he-thong-logs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordPage</servlet-name>
        <url-pattern>/cap-lai-mat-khau</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessResetPassword</servlet-name>
        <url-pattern>/nhap-mat-khau-moi-nao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetErrorRequestPassPage</servlet-name>
        <url-pattern>/loi-cap-nhat-mat-khau</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFullVehicleByUserID</servlet-name>
        <url-pattern>/phuong-tien-ca-nhan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateVehicles</servlet-name>
        <url-pattern>/update-phuong-tien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetVehilceInPoliceHomePage</servlet-name>
        <url-pattern>/danh-sach-phuong-tien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoliceDao</servlet-name>
        <url-pattern>/police-dao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Police</servlet-name>
        <url-pattern>/canh-sat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProfileHomePage</servlet-name>
        <url-pattern>/ho-so-ca-nhan-2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetViolatingVehicle</servlet-name>
        <url-pattern>/phuong-tien-vi-pham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNotificationPolice</servlet-name>
        <url-pattern>/thong-bao-canh-sat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>    
        <servlet-name>StationServlet</servlet-name>
        <url-pattern>/StationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAndDeleteInspector</servlet-name>
        <url-pattern>/cap-nhat-inspector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewStation</servlet-name>
        <url-pattern>/tao-moi-trung-tam-kiem-dinh</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>dashboard/auth/login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStationHomePage</servlet-name>
        <servlet-class>controller.station.GetStationHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOwnerHomePage</servlet-name>
        <servlet-class>controller.ownerController.GetOwnerHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAppointmentPage</servlet-name>
        <servlet-class>controller.station.GetAppointmentPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReportPage</servlet-name>
        <servlet-class>controller.station.GetReportPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dangKyKD</servlet-name>
        <servlet-class>controller.vehicleController.dangKyKD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xoaPT</servlet-name>
        <servlet-class>controller.vehicleController.xoaPT</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>xoaPT</servlet-name>
        <url-pattern>/xoa-phuong-tien</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dangKyPT</servlet-name>
        <servlet-class>controller.vehicleController.dangKyPT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProfilePage</servlet-name>
        <servlet-class>controller.station.GetProfilePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetInspectorHomePage</servlet-name>
        <servlet-class>controller.inspectController.GetInspectorHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.inspectController.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/dang-nhap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/dang-ky</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/dang-xuat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStationHomePage</servlet-name>
        <url-pattern>/trung-tam-dang-kiem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOwnerHomePage</servlet-name>
        <url-pattern>/chu-phuong-tien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAppointmentPage</servlet-name>
        <url-pattern>/quan-ly-lich-hen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReportPage</servlet-name>
        <url-pattern>/bao-cao-kiem-dinh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dangKyKD</servlet-name>
        <url-pattern>/dang-ky-kiem-dinh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dangKyPT</servlet-name>
        <url-pattern>/dang-ky-phuong-tien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetInspectorHomePage</servlet-name>
        <url-pattern>/nguoi-kiem-dinh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/thong-tin-nguoi-kiem-dinh</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>dashboard/auth/login.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>UPLOAD_DIR</param-name>
        <param-value>web/resources/images</param-value>
    </context-param>
    <error-page>
        <error-code>404</error-code>
        <location>/dashboard/error/404.jsp</location>
    </error-page>
</web-app>
